/* nav {
    z-index: 1;
} */
#ejericio-index {
    margin-top: -5%;
    z-index: 10;
}

#window-main-exercise {
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr; /*Des esta forma la primera fila se adapta a la altura de su contenido y con el 1fr la otra ocupa el resto*/
    grid-template-columns: 70% 30%;
    grid-template-areas: "header-exercise header-exercise" "content-exercise learn-exercise";
}

#header-exercise {
    grid-area: header-exercise;
    border-bottom: 2px rgb(243, 128, 182) solid;
    text-align: center;
    padding: 10px 0 ;
    color:  rgb(241, 81, 156);
    cursor: default;
}

#content-exercise {
    grid-area: content-exercise;
    padding: 10px;
}

#learn-exercise {
    grid-area: learn-exercise;
    border-left: 2px dotted rgb(243, 128, 182) ;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: rgb(243, 128, 182) #f1f1f1;

}

code {
  background-color: rgb(235, 187, 209);
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.btn {
    font-weight: bold;
    color: white;
    background-color: rgb(243, 128, 182);
    border: none;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    justify-self: end;
    margin: 20px;

}

.btn:hover{
    background-color: rgb(241, 81, 156);
}
ul{
    margin: 10px 0;
}

li::marker {
    color: rgb(243, 128, 182);
}

.botones {
    display: flex;
}
/* 
.botones button {
    width: 50%;
} */