*{
    margin: 0;
    font-family: "Roboto mono";
    box-sizing: border-box;
}

html {
    background-image: url("./img/Fondo.jpg");
}

header{
    margin: 10px;
    height: 40px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style-type: none;
    padding: 0px 5px ;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#date-time{
    margin-right: 20px;
}


#welcome {
    width: 450px;
    background-color: white;
    margin: 50px 0;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(226, 164, 193); /*del color del tema o en gris?*/
    display: grid;
    grid-template-areas: "welcome-header" "welcome-text" "btn-welcome";
    grid-template-rows: 10% 80% 10%;
    padding-bottom: 15px;
}

#welcome-header{
    border-bottom: 3px solid black;
    padding: 5px 0;
    text-align: center;
    background-color:rgb(245, 180, 210) ;
    color: white;
    font-weight: bold;
    cursor: default;
}

#welcome-text {
    margin: 5% 5% 0 5%;
    cursor: default;
    
}

#btn-welcome{
    font-weight: bold;
    color: white;
    background-color: rgb(243, 128, 182);
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 125px;
    cursor: pointer;
    justify-self: end;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 100%;
}

#btn-welcome:hover {
    background-color: rgb(241, 81, 156);
}


footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: linear-gradient(rgb(245, 180, 210),rgb(160, 85, 120),rgb(245, 180, 210)); /*Me gustaria que la zona oscura fuese mas ancha*/
    display: grid;
    grid-template-columns: 10% 75% 15%;
    grid-template-areas: "inicio autor sistemaOperativo";
    color: white;
}

#autor, #sistemaOperativo{
    align-self: center;
    justify-self: center;
}

#inicio {
    background: linear-gradient(rgb(243, 128, 182),rgb(158, 64, 108),rgb(243, 128, 182)); /*Me gustaria que la zona oscura fuese mas ancha*/
    border-radius: 0 5% 5% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#inicio:hover {
    background: linear-gradient( rgb(241, 81, 156),rgb(163, 38, 96), rgb(241, 81, 156)); /*Me gustaria que la zona oscura fuese mas ancha*/
    /* background-color: rgb(241, 81, 156); */
}


/*Nueva distribucion*/
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 1%;
    padding: 0 2%;
}

nav a{
    text-decoration: none;
}

.icono-escritorio {
    display: flex;
    flex-direction: column;
    width: 7%;
    padding: 1%;
}

.icono-escritorio img {
    width: 100%;
}

.icono-escritorio p {
    font-weight: bold;
    color:rgb(163, 38, 96);
    justify-self: center;
    margin-top: -10px;
    padding-top: 0;
}

.carpeta-nav:hover img{
    content: url(./img/carpetaAbierta.png);
}

.login-nav:hover img{
    content: url(./img/logout.png);
}