#window {
    height: 600px;
    width: 900px;
    background-color: white;
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(226, 164, 193); /*del color del tema o en gris?*/
    display: grid;
    grid-template-rows: 7% 93%;
    grid-template-areas: "window-header" "window-main";
    /*para que quede por encima del nav*/
    position: absolute;
    top: 100px;
}

#window-header{
    border-bottom: 3px solid black;
    padding: 5px 0;
    text-align: center;
    background-color: rgb(243, 128, 182);
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#window-header p{
    font-weight: bold;
    color: white;
    cursor: default;
}


.icono-carpeta {
    width: 75%;
    cursor: pointer;
}

.cierre:hover {
    content: url(../img/cierre2.png);
}

.atras:hover {
    content: url(../img/flechaHover.png);
}

#window-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    align-items: flex-start; /*Controla el tamaño de los item*/
    align-content: flex-start; /*Controla la distancia entre filas*/
    overflow-y: auto;
}

.icono-submenu, .web-icon, .icono-fichero {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 1%;
}

#window-main a {
    text-decoration: none;
}

.icono-submenu:hover img{
    content: url(../img/carpetaabierta3.png);
}

.icono-submenu:hover p, .web-icon:hover p, .icono-fichero:hover p{
    color: rgb(241, 81, 156);
}

.icono-submenu img, .web-icon img, .icono-fichero img {
    width: 100%;
}

.icono-submenu p, .web-icon p, .icono-fichero p {
    font-weight: bold;
    color:rgb(163, 38, 96);
    justify-self: center;
    margin-top: -20px;
    padding-top: 0;
}

/*Para cambiar el color del scroll*/
#window-main {
    scrollbar-width: auto;
    scrollbar-color: rgb(243, 128, 182) #f1f1f1;
}

#detalle {
    position: fixed;
    pointer-events: none;
    background-color: white;
    color: rgb(163, 38, 96);
    padding: 6px 10px;
    font-size: 12px;
    width: 125px;
    white-space: normal;
    z-index: 9999;
    display: none;
    box-shadow: 0 2px 6px rgb(243, 128, 182);
}


.web-icon:hover img {
    content: url(../img/web1.png);
}

.icono-fichero:hover img {
    content: url(../img/fichero2.png);
}

/*window-registro*/
#window-registro{
    height: 600px;
    width: 450px;
    background-color: white;
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(226, 164, 193); /*del color del tema o en gris?*/
    display: grid;
    grid-template-rows: 7% 93%;
    grid-template-areas: "window-header" "window-main";
    z-index: 10;
    /*Para que quede por encima del nav*/
    position: absolute;
    top: 100px;
}
/*window-app*/
#window-header-app{
    border-bottom: 3px solid black;
    padding: 5px 0;
    text-align: center;
    background-color: rgb(243, 128, 182);
    display: grid;
    grid-template-columns:90% 10%;
}

#window-header-app p{
    font-weight: bold;
    color: white;
    cursor: default;
}

#window-main-app{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    align-items: flex-start; /*Controla el tamaño de los item*/
    align-content: flex-start; /*Controla la distancia entre filas*/
    overflow-y: auto;
}

#window-main-app p {
    cursor: default;
}

.icono-cierre {
    width: 75%;
    cursor: pointer;
}

/*CRUD estilo*/
#window-crud{
    height: 700px;
    width: 1100px;
    background-color: white;
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(226, 164, 193); /*del color del tema o en gris?*/
    display: grid;
    grid-template-rows: 7% 93%;
    grid-template-areas: "window-header" "window-main";
    /*para que quede por encima del nav*/
    position: absolute;
    top: 100px;
}


#window-header-crud{
    border-bottom: 3px solid black;
    padding: 5px 0;
    text-align: center;
    background-color: rgb(243, 128, 182);
    display: grid;
    grid-template-columns:96% 4%;
}

#window-header-crud p{
    font-weight: bold;
    color: white;
    cursor: default;
}

#window-main-crud{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 3% 87%;
    grid-template-areas: "botones" "mensaje" "tabla";
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: rgb(243, 128, 182) #f1f1f1;
    position: relative;
}

#mensaje{
    grid-area: mensaje;
    padding: 0 2%;
}

#botones-crud{
    grid-area: botones;
}

.btn-crud{
    width: 20%;
    font-weight: bold;
    color: white;
    background-color: rgb(243, 128, 182);
    border: none;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    margin: 1%;
}

.btn-crud:hover{
    background-color: rgb(241, 81, 156);

}

.label-search{
    width: 20%;
    border-width: 2px;
}

/*tabla crud*/
table {
    background-color: rgb(245, 180, 210);
    margin: 1%;
    border-radius: 20px;
    padding: 1%;
}

thead{
    color: white;
}

th{
    padding: 10px 0;
    font-size: 1.5rem;
}

tbody tr:nth-child(odd){
    background-color:   rgb(243, 128, 182);
}

.boton-tabla{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.boton-tabla button{
    font-weight: bold;
    color: white;
    background-color: rgb(243, 128, 182);
    border: none;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    margin-top: 2.5%;
}

tbody tr:nth-child(odd) button{
    background-color:   rgb(224, 53, 133);
}

.boton-tabla button:hover{
    background-color: rgb(241, 81, 156);
}